body {
    background-color: #4285f4;
}
/*NAVBAR BACKGROUND*/
nav {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div.container {
    background-color: whitesmoke;
    border-radius: 10px;
}

#formContainer{
    margin-top: 5vh;
    padding: 2%;
}

#guessContainer {
    visibility: hidden;
    margin-top: 5vh;
    max-height: 55vh;
}
.btn {
    background-color: cornflowerblue;
}

#toto {
    opacity: 0;
    text-transform: capitalize;
}

#preloader{
    margin-top: 15vh;
    visibility: hidden;
}

#isit {
    margin-top: 50%;
    font-family: "Courier New,monospace";
}

.btn-floating{
    margin-left: 2%;
    margin-right: 2%;
}

#img {
    opacity: 0;
    max-height: 40vh;
    max-width: 100%;
    margin-top: 17%;
}

#titi {
    max-width: 30vh;
    max-height: 35vh;
    opacity: 0;
}

.row {
    margin-bottom: 0;
}

#yesnoBtn {
    visibility: hidden;
    margin-top: 2vh;
}

#news {
    max-height: 40vh;
    margin-top: 2vh;
    overflow-y: scroll;
}

.card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}

.card.horizontal {
    max-height: 10vh;
}

.card.horizontal .card-stacked{
    text-align: left;
}
.card.horizontal .card-image {
     max-width: 100%;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10vh;
}

.card .card-title {
    font-size: 15px;
    font-weight: 300;
    color: #1a0dab;
}

.card .card-title:hover {
    text-decoration: underline;
}

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: 90%;
}

/* The typing effect */
@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

#typewriter {
    width: 72%;
    margin: 50% auto;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}