body {
    background-color: #4285f4;
}
/*NAVBAR BACKGROUND*/
nav {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div.container {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2%;
}

#formContainer{
    margin-top: 5vh;
}

#guessContainer {
    visibility: hidden;
    margin-top: 5vh;
}
.btn {
    background-color: cornflowerblue;
}

.toto {
    visibility: hidden;
}

#preloader{
    margin-left: 50%;
    margin-top: 25%;
    visibility: hidden;
}

#isit {
    margin-top: 10vh;
}

.btn-floating{
    margin-left: 2%;
    margin-right: 2%;
}

#img {
    max-width: 45vh;
    opacity: 0;
}

#titi {
    max-width: 30vh;
}



#isit {
    opacity: 0.0;
}

.row {
    margin-bottom: 0;
}

#yesnoBtn {
    visibility: hidden;
}